{% extends "layout.html" %}

{% block body %}
<style>
  .box-1 {
    display: none;
  }
</style>

<div class="Security">
    <div class="col-md-12 mt-5">
        <h3><b>Important Contacts and Helpline Number<b></h3>
        <br><br>
        <div class="container row">
            <div class="col">
                <div class="h-100 p-5 border rounded-3 bg2-colo1">
                    <h3>DMRC 24x7 Helpline</h3>
                    <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 155370</p>
                    <p><i class="fa fa-envelope-o">&nbsp;</i>: helpline@dmrc.org</p>
                </div>
            </div>
            <div class="col">
                <div class="h-100 p-5  border rounded-3 bg2-colo1">
                    <h3>CISF unit DMRC 24x7 Helpline</h3>
                    <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 155655</p>
                    <p><i class="fa fa-envelope-o">&nbsp;</i>: delpol.service@delhipolice.gov.in</p>
                </div>
            </div>
        </div>
        <div class="container row">
            <div class="col">
                <div class="h-100 p-5  border rounded-3 bg2-colo2">
                    <h3>Delhi Police Control Room</h3>
                    <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 112</p>
                    <p><i class="fa fa-envelope-o">&nbsp;</i>: delpol.service@delhipolice.gov.in</p>
                </div>
            </div>
            <div class="col">
                <div class="h-100 p-5 border rounded-3 bg2-colo2">
                    <h3>Women Helpline</h3>
                    <p class="mt-2"><i class="fa fa-phone">&nbsp;</i> : 1091</p>
                    <p><i class="fa fa-envelope-o">&nbsp;</i>: complaintcell-ncw@nic.in</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    